.card {
	display: flex;
	flex-direction: column;

	max-width: 1000px;
	width: 100%;
	border-top: 1px solid var(--boxShadow);
	border-right: 1px solid var(--boxShadow);
	border-bottom: 1px solid var(--boxShadow);
	border-left: 8px solid var(--primary);
	border-radius: 30px 0px 30px 30px;
	padding: 20px;
	height: max-content;
	gap: 30px;
	background-color: var(--whitesmoke);
	box-shadow: 0px 3px 3px var(--boxShadow);
	transition: all 0.15s ease;
	font-size: 1.05rem;

	&:hover {
		transform: translate(-2px, -4px);
		border-top: 1px solid var(--primary);
		border-right: 1px solid var(--primary);
		border-bottom: 1px solid var(--primary);
	}
}

.responsabilities-list,
.technologies-list {
	list-style-position: inside;
}

.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
  
	padding-bottom: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 16px;
}

.company-image {
	width: 100%;
	max-width: 90px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.compony-info {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.container-period {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;

	font-size: 0.95rem;
	font-style: italic;
	font-weight: 400;
	gap: 4px;
}

.responsabilities-container {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.responsabilities-list {
	display: flex;
	flex-direction: column;
	font-size: 1.05rem;
	margin-left: 8px;
	gap: 8px;
}

.technologies-container {
	display: flex;
	gap: 8px;
}

.responsabilities-title {
	font-weight: bold;
}

.technologies-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 1.1rem;
	flex-wrap: wrap;
}

.technologies-item {
	&:not(&:last-of-type)::after {
		content: ",";
	}
}

/* ######## MEDIA QUERIES ######## */

@media screen and (max-width: 600px) {
	.card {
		border-left: 4px solid var(--primary);
	}

	.header {
		flex-direction: column;
		gap: 20px;
	}

	.compony-info {
		min-width: 190px;
	}

	.container-period {
		width: 100%;
		flex-direction: row;
		justify-content: flex-start;
	}
}
