.card {
	background: whitesmoke;
	border-radius: 8px;
	padding: 1rem;

	.header {
		display: flex;
		justify-content: space-between;
	}

	.technologies {
		display: flex;
		gap: 0.5rem;
		margin-top: 0.75rem;
	}
}
