.card {
	display: flex;
	flex-direction: column;

	background-color: var(--whitesmoke);
	border-radius: 30px 0px 30px 0px;
	overflow: hidden;
	width: calc(50% - 20px);
	box-shadow: 0px 3px 3px var(--boxShadow);
	border: 1px solid var(--boxShadow);
	transition: all 0.15s ease;

	&:hover {
		transform: translateY(-4px);
		border: 1px solid var(--primary);
		box-shadow: 0px 5px 5px var(--boxShadow);
	}
}

.header {
	background-color: var(--primary);
	color: var(--white);
	padding: 10px;
	text-align: center;
	font-size: 1.3rem;
}

.body {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
	padding: 20px;
	font-size: 1.1rem;
	height: 100%;
	gap: 20px;
}

.content {
	display: flex;
	gap: 16px;
}

.info {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
	gap: 8px;
}

.image {
	width: 250px;
	height: 250px;
	aspect-ratio: 1 / 1;
	border-radius: 8px;
	object-fit: cover;
}

.technologies-list {
	display: flex;

	font-size: 2rem;
	list-style: none;
	gap: 4px;
	color: var(--secondary);
}

.container-links {
	display: flex;
	justify-content: start;

	width: 100%;
	gap: 8px;
	margin-top: auto;
}

.academic-link {
	padding: 8px 12px;
	border: 1px solid var(--boxShadow);
	box-shadow: 0px 3px 3px var(--boxShadow);
	border-radius: 8px;
	background-color: var(--white);
	font-weight: bold;
	font-size: 1.2rem;
	transition: all 0.15s ease;

	&:hover {
		color: var(--primary);
		border-color: var(--primary);
	}

	&:first-of-type {
		&:hover {
			animation: pulse ease 1.2s 0.2s infinite;
		}
	}

	&:last-of-type {
		&:hover {
			transform: translateY(2px);
		}
	}
}

@keyframes pulse {
	0%,
	40%,
	60%,
	100% {
		transform: scale(1);
	}

	20%,
	80% {
		transform: scale(1.05);
	}
}

/* ######## MEDIA QUERIES ######## */

@media screen and (max-width: 1200px) {
	.content {
		flex-direction: column-reverse;
		text-align: center;
	}

	.info {
		width: 100%;
	}

	.image {
		width: 100%;
		height: 200px;
	}

	.container-links {
		justify-content: center;
	}
}

@media screen and (min-width: 600px) {
	.card {
		min-width: 380px;
	}
}

@media screen and (max-width: 600px) {
	.card {
		width: 100%;
	}

	.content {
		flex-direction: column-reverse;
	}

	.image {
		width: 100%;
	}
}
