.card {
	background-color: whitesmoke;
	border-radius: 30px 0px 30px 0px;
	overflow: hidden;
	width: calc(50% - 20px);
	box-shadow: 0px 3px 3px var(--boxShadow);
	border: 1px solid var(--boxShadow);
	transition: all 0.15s ease;

	&:hover {
		transform: translateY(-4px);
		border: 1px solid var(--primary);
		box-shadow: 0px 5px 5px var(--boxShadow);
	}
}

.header {
	background-color: var(--primary);
	color: var(--white);
	padding: 10px;
	text-align: center;
	font-size: 1.3rem;
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.content {
	display: flex;
	gap: 24px;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.image {
	width: 250px;
	border-radius: 8px;
}

.technologies-list {
	font-size: 2rem;
	display: flex;
	list-style: none;
	gap: 4px;
  color: var(--secondary);
}

.container-links {
	width: 100%;
	display: flex;
	justify-content: start;
	gap: 8px;
}

.academic-link {
	padding: 8px 12px;
	border: 1px solid var(--boxShadow);
	box-shadow: 0px 3px 3px var(--boxShadow);
	border-radius: 8px;
	background-color: var(--white);
	font-weight: bold;
	font-size: 1.2rem;
	transition: all 0.15s ease;

	&:hover {
		color: var(--primary);
		border-color: var(--primary);
	}

	&:first-of-type {
		&:hover {
			animation: pulse ease 1.2s 0.2s infinite;
		}
	}

	&:last-of-type {
		&:hover {
			transform: translateY(2px);
		}
	}
}

@keyframes pulse {
	0%,
	40%,
	60%,
	100% {
		transform: scale(1);
	}

	20%,
	80% {
		transform: scale(1.05);
	}
}

