.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var(--black);
	padding: 30px 80px;
	border-radius: 50px 50px 0px 0px;
	color: var(--white);

	gap: 32px;
	border: 2px solid var(--primary);

	margin-top: 100px;
}

.contact__form {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	gap: 16px;
	gap: 32px;
}

.contact__wrapper {
	display: flex;

	width: 100%;
	gap: 32px;
}

.contact__group {
	display: flex;
	flex-direction: column;

	width: 100%;
	gap: 8px;
}

.contact__label {
	font-size: 1.15rem;
}

.contact__input,
.contact__textarea {
	width: 100%;
	padding: 10px;
	border-radius: 8px;
	border: 2px solid var(--primary);
	font-size: 1rem;
	box-shadow: 0px 3px 1px var(--toggle-boxShadow);

	&::placeholder,
	&::placeholder {
		font-size: 1rem;
	}
}

.contact__textarea {
	height: 150px;
	width: 100%;
	resize: none;
}

.contact__icons {
	display: flex;
	gap: 24px;
	font-size: 1.2rem;
	flex-wrap: wrap;
	justify-content: center;
}

.contact__link {
	color: var(--white);
	display: flex;
	gap: 8px;
	align-items: center;
	transition: all 0.15s ease;

	&:hover {
		color: var(--primary);
		transform: translate(-2px, -4px);
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	}
}

.contact__icon {
	font-size: 1.4rem;
}

.contact__button--secondary {
	color: var(--primary);
	background-color: var(--black);

	&:hover {
		background-color: var(--white);
	}
}

.contact__button--primary {
	background-color: var(--white);
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease;

	&::before,
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		width: 0;
		height: 100%;
		background-color: var(--primary);
		z-index: -1;
		transition: all 0.25s ease;
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}

	&:hover {
		color: var(--white);

		& .contact__input--primary,
		& .contact__icon--ckeck {
			color: var(--white);
		}
	}

	&:hover::before {
		width: 50%;
	}
	&:hover::after {
		width: 50%;
	}
}

.contact__input--primary {
	background-color: transparent;
	border: none;
	font-size: 1.1rem;
	transition: all 0.15s ease;
	color: var(--primary);
}

.contact__icon--ckeck {
	color: var(--primary);
}

.contact__rights {
	font-weight: 500;
	font-size: 0.95rem;
}

/* ######## MEDIA QUERIES ######## */

@media screen and (max-width: 600px) {
	.contact {
		padding: 20px 20px;
		border-radius: 20px 20px 0 0;
	}

	.contact__icons {
		font-size: 0.9rem;
	}

	.contact__wrapper {
		flex-direction: column;
	}
}
