#header {
	padding-top: 10px;
	background-color: var(--background);
	width: 100%;
	max-width: 1200px;
	position: fixed;
	z-index: 999;
	border-radius: 0px 0px 50px 50px;
}

.header__wrapper {
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
	background-color: var(--primary);
	color: var(--white);
	display: flex;
	justify-content: space-between;
	border: 2px solid var(--white);
	padding: 16px 32px;
	border-radius: 50px;
	align-items: center;
}

.header__logo {
	font-size: 1.5rem;
}

.header__nav {
	display: flex;
	align-items: center;
	gap: 32px;
	font-size: 1.2rem;
}

.header__list {
	list-style: none;
	display: flex;
	gap: 24px;
}

.header__item {
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;

	&::before,
	&::after {
		content: "";
		position: absolute;

		bottom: 0;
		background-color: var(--white);
		transition: all 0.2s ease;
		height: 2px;
		width: 0;
	}

	&::before {
		left: 50%;
	}
	&::after {
		right: 50%;
	}

	&:hover::before,
	&:hover::after {
		width: 50%;
	}
}

.header__icon {
	color: inherit;
	cursor: pointer;
	font-size: 1.6rem;
	text-shadow: 0px 3px 3px var(--boxShadow);
	transition: all 0.15s ease;

	&:hover {
		transform: scale(1.15);
	}

	&:active {
		text-shadow: none;
		transform: scale(1);
	}
}

.header__link--active {
	background-color: var(--white);
	padding: 4px 8px;
	border-radius: 5px;
	color: var(--primary);
	font-weight: 500;
}
