body > .header {
	padding-top: 12px;
	background-color: var(--background);
	width: 100%;
	max-width: 1200px;
	position: fixed;
	z-index: 999;
	border-radius: 0px 0px 50px 50px;
}

.header__wrapper {
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
	background-color: var(--primary);
	color: var(--white);
	display: flex;
	justify-content: space-between;
	border: 2px solid var(--white);
	padding: 12px 32px;
	border-radius: 50px;
	align-items: center;
	/* padding-top: 50px; */
}

.header__logo {
	font-size: 1rem;
}

.header__nav {
	display: flex;
	align-items: center;
	gap: 32px;
	font-size: 1.2rem;
}

.header__list {
	list-style: none;
	display: flex;
	gap: 24px;
}

.header__title {
	font-size: 1.5rem;
}

.header__item {
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;

	&::before,
	&::after {
		content: "";
		position: absolute;

		bottom: 0;
		background-color: var(--white);
		transition: all 0.2s ease;
		height: 2px;
		width: 0;
	}

	&::before {
		left: 50%;
	}
	&::after {
		right: 50%;
	}

	&:hover::before,
	&:hover::after {
		width: 50%;
		height: 1px;
	}
}

.header__icon {
	color: inherit;
	cursor: pointer;
	font-size: 1.6rem;
	text-shadow: 0px 3px 3px var(--boxShadow);
	transition: all 0.15s ease;

	&:hover {
		transform: scale(1.15);
	}

	&:active {
		text-shadow: none;
		transform: scale(1);
	}
}

.header__link--active {
	background-color: var(--white);
	padding: 4px 8px;
	border-radius: 5px;
	color: var(--primary);
	font-weight: 500;
}

.toggle-menu {
	font-size: 2.15rem;
	background-color: var(--primary);
	padding: 8px;
}

.hidden {
	display: none !important;
}

.header__intro {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* width: 100%; */
}

/* @media screen and (min-width: 600px) and (max-width: 1200px) {
	.header__wrapper {
	}
	.header__nav {
		font-size: 1.1rem;
	}

	.header__list {
		gap: 16px;
	}
} */

@media screen and (min-width: 600px) and (max-width: 1200px) {
	body {
		gap: 0px;
	}

	body > .header {
		position: static;
	}

	.header__wrapper {
		text-align: center;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.header__nav,
	.header__list {
		gap: 20px;
	}
	/* .header__logo {
		display: none;
	} */
	.header__nav {
		font-size: 1.1rem;
	}

	.header__list {
		gap: 16px;
	}
}

@media screen and (min-width: 600px) and (max-width: 765px) {
	.header__wrapper {
		justify-content: center;
	}

	.header__logo {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	#header {
		border-radius: 0px;
		padding: 10px 10px 0px;
		/* background-color: rgba(0, 0, 0, 0.4); */
	}

	.header__intro {
		justify-content: space-between;
		width: 100%;
	}

	.header__nav {
		flex-direction: column;
		font-size: 1.5rem;
		height: max-content;
		width: 75%;
		padding-bottom: 16px;
	}

	.header__wrapper {
		flex-direction: column;
		right: 0;
		border-radius: 20px;
		justify-content: flex-start;
		gap: 24px;
		font-size: 3rem;
		padding: 4px 12px;
	}

	.header__logo {
		/* display: none; */
	}

	.header__list {
		flex-direction: column;
		width: 100%;
	}

	.header__item {
		&::before,
		&::after {
			display: none;
		}
	}

	.header__link {
		width: 100%;
		text-align: center;
		display: block;
	}
}
