.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 90vh;
	margin-top: 30px;
}

.home__container {
	display: flex;
	align-items: center;
}

.home__content {
	display: flex;
	flex-direction: column;
	gap: 8px;

	width: 50%;
	color: var(--secondary);
}

.home__title {
	font-size: 3.5rem;
	line-height: 48px;
}

.home__subtitle {
	line-height: 48px;
	font-size: 2.5rem;
}

.home__highlight {
	color: var(--primary);
	font-family: "Arial Black", sans-serif;
	-webkit-text-stroke: 1px var(--white);
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.home__description {
	font-size: 1.15rem;
	margin-bottom: 20px;
	line-height: 24px;
}

.home__image {
	border: 6px solid var(--primary);
	border-radius: 50%;
	width: 370px;
	animation: move 2.5s linear infinite;
	box-shadow: 0px 3px 3px var(--toggle-boxShadow);
	margin-left: auto;
}

.link-button.primary {
	background-color: var(--primary);
	color: var(--white);
	position: relative;

	&:hover {
		transform: scale(1.05);
	}

	svg {
		width: 1.5rem;
	}
}

.link-button.secondary {
	background-color: var(--white);
	color: var(--primary);
	position: relative;
	overflow: hidden;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 100%;
		background-color: var(--primary);
		z-index: -1;
		transition: all 0.5s ease;
	}

	&:hover {
		color: var(--white);
	}

	&:hover::before {
		width: 100%;
	}
}

.home__icons {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;

	margin-top: 80px;
	width: 100%;
	gap: 16px;
	font-size: 1.35rem;
}

.home__icon {
	transition: all 0.15s ease;
	padding: 1px;
	border-radius: 4px;
	cursor: pointer;
	color: var(--secondary);
	width: 30px;
	height: 30px;

	&:hover {
		box-shadow: 1px 1px 2px 1px var(--toggle-boxShadow);
		transform: translate(-2px, -2px);
	}
}

@keyframes move {
	0% {
		transform: translateY(20px);
	}

	50% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(20px);
	}
}

/* ######## MEDIA QUERIES ######## */

@media screen and (min-width: 600px) and (max-width: 1200px) {
	.home__image {
		width: 260px;
	}
}

@media screen and (max-width: 600px) {
	.home {
		margin-top: 100px;
		height: 100vh;
	}

	.home__title {
		font-size: 2.5rem;
	}

	.home__subtitle {
		font-size: 2rem;
	}

	.home__container {
		flex-direction: column-reverse;
		gap: 80px;
	}

	.home__content {
		width: 100%;
		align-items: center;
		text-align: center;
	}

	.home__icons {
		justify-content: center;
		margin-top: 40px;
	}

	.home__image {
		width: 250px;
	}

	.home__image {
		margin-left: 0px;
	}
}
