@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.dark {
	--primary: #00f5d4;
}

:root {
	--primary: #2474fd;
	--secondary: #0d0c1d;

	--white: #fff;
	--yellow: #ffe100;
	--whitesmoke: #fafafa;
	--boxShadow: rgba(0, 0, 0, 0.25);

	--Inter: "Inter", Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	display: flex;
	justify-content: center;
	font-size: 16px;
	scroll-behavior: smooth;

	background-image: linear-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px),
		linear-gradient(90deg, rgba(0, 0, 0, 0.03) 1px, transparent 1px);

	background-size: 80px 80px;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	width: 100%;
	max-width: 1200px;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-family: var(--Inter);
	position: relative;

	& > * {
		width: 100%;
	}
}

main {
	padding: 0px 6px;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	gap: 100px;

	section:not(.home-section) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
		scroll-margin-top: 80px;
	}
}

.container-link-button {
	display: flex;
	gap: 8px;
}

.link-button {
	font-size: 1.1rem;
	padding: 12px 26px;
	border-radius: 10px;
	border: 1px solid var(--primary);
	box-shadow: 0px 3px 1px var(--boxShadow);
	transition: all 0.15s ease;

	&:hover {
		transform: translateY(-2px);
	}
}

.link-button.primary {
	background-color: var(--primary);
	color: var(--white);
	position: relative;

	&:hover {
		transform: scale(1.05);
	}
}

.link-button.secondary {
	background-color: var(--white);
	color: var(--primary);
	position: relative;
	overflow: hidden;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 100%;
		background-color: var(--primary);
		z-index: -1;
		transition: all 0.5s ease;
	}

	&:hover {
		color: var(--white);
	}

	&:hover::before {
		width: 100%;
	}
}

.section-title {
	color: var(--white);
	text-shadow: -3px 3px 0px black;
	position: relative;
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: 900;
	width: max-content;
	-webkit-text-stroke: 1px black;

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		left: -6px;
		bottom: 0px;

		width: calc(100% + 8px);
		height: 13px;
		background-color: var(--primary);
	}
}

.project__container {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

.academic {
	height: 900px;
  
	.academic__container {
		position: relative;
		height: 100%;

		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 100px;

		&::before {
			content: "";
			background-color: var(--primary);
			position: absolute;
			width: 10px;
			top: -50px;
			left: 50%;
			height: 900px;
			transform: translateX(-50%);
		}

		
	}
}

/* @keyframes pulse {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(1.05);
	}
	40% {
		transform: scale(1);
	}
	60% {
		transform: scale(1);
	}
	80% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
} */

@keyframes pulse {
	0%,
	40%,
	60%,
	100% {
		transform: scale(1);
	}

	20%,
	80% {
		transform: scale(1.05);
	}
}
