.technologies {
	margin-top: -100px;
}

.technologies__container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: var(--secondary);
	gap: 30px;
}

.technologies__description {
	max-width: 520px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.technologies__subtitle {
	font-size: 2.5rem;
}

.technologies__highlight {
	color: var(--primary);
}

.technologies__text {
	font-size: 1.15rem;
	text-indent: 50px;
	text-align: justify;
	line-height: 26px;
}

.technologies__languages {
	width: 100%;
	margin-left: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(130px, 130px));
	align-content: center;
	gap: 20px;
	justify-content: end;
}

.technologies__item {
	border: 1px solid var(--secondary);
	padding: 12px 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
	gap: 4px;
	transition: all 0.15s ease;
	position: relative;

	&:hover {
		transform: translateY(-10px);
	}
}

.technologies__label {
	font-size: 1.2rem;
}

.technologies__icon {
	font-size: 5.5rem;
}

.technologies__star {
	position: absolute;
	top: 4px;
	right: 4px;
	color: var(--yellow);
	font-size: 12px;
	text-shadow: 1px 1px 0px black;
	-webkit-text-stroke: 1px var(--black);
}

.project__strong--highlight {
	color: var(--primary);
}

#react:hover {
	color: rgb(0, 245, 212);
	border-color: rgb(0, 245, 212);
	box-shadow: 0px 3px 0px rgb(0, 245, 212, 0.2);
}
#sass:hover {
	color: rgb(204, 102, 153);
	border-color: rgb(204, 102, 153);
	box-shadow: 0px 3px 0px rgb(204, 102, 153, 0.2);
}

#angular:hover {
	color: #dd0031;
	border-color: rgb(221, 0, 49);
	box-shadow: 0px 3px 0px rgba(219, 0, 49, 0.2);
}
#typescript:hover {
	color: #3178c6;
	border-color: rgb(49, 120, 198);
	box-shadow: 0px 3px 0px rgba(49, 121, 198, 0.2);
}

#html:hover {
	color: #e34f26;
	border-color: rgb(227, 79, 38);
	box-shadow: 0px 3px 0px rgba(227, 79, 38, 0.2);
}

#css:hover {
	color: #1572b6;
	border-color: rgb(21, 114, 182);
	box-shadow: 0px 3px 0px rgba(21, 114, 182, 0.2);
}

#javascript:hover {
	color: #f7df1e;
	border-color: rgb(247, 223, 30);
	box-shadow: 0px 3px 0px rgba(247, 223, 30, 0.2);
}

#java:hover {
	color: #ff004c;
	border-color: rgb(255, 0, 76);
	box-shadow: 0px 3px 0px rgba(255, 0, 76, 0.2);
}

#php:hover {
	color: #4f5d95;
	border-color: rgb(79, 93, 149);
	box-shadow: 0px 3px 0px rgba(79, 93, 149, 0.2);
}

#cplus:hover {
	color: #5d00ff;
	border-color: rgb(93, 0, 255);
	box-shadow: 0px 3px 0px rgba(93, 0, 255, 0.2);
}

#c:hover {
	color: blue;
	border-color: rgb(0, 0, 255);
	box-shadow: 0px 3px 0px rgba(0, 0, 255, 0.2);
}

#python:hover {
	color: #f7df1e;
	border-color: rgb(247, 223, 30);
	box-shadow: 0px 3px 0px rgba(247, 223, 30, 0.2);
}

/* ######## PROJECT ICON ######## */

.icon-react {
	color: rgb(0, 245, 212);
}
.icon-angular {
	color: #dd0031;
}
.icon-typescript {
	color: #3178c6;
}
.icon-javascript {
	color: #f7df1e;
}
.icon-html {
	color: #e34f26;
}
.icon-css {
	color: #1572b6;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
	body {
		padding: 0px 30px;
	}
	.technologies__languages {
		justify-content: center;
	}
	.technologies__description {
		width: 100%;
		max-width: 100%;
	}
	.technologies__container {
		flex-direction: column;
	}
}
@media screen and (max-width: 600px) {
	.technologies {
		margin-top: 0px;
	}
	.technologies__description {
		width: 100%;
		max-width: 100%;
	}
	.technologies__container {
		flex-direction: column;
	}
	.technologies__languages {
		grid-template-columns: repeat(auto-fill, minmax(100px, 120px));
		justify-content: center;
	}
}
