@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--primary: #2474fd;
	--secondary: #0d0c1d;

	--white: #fff;
	--yellow: #ffe100;
	--whitesmoke: #fafafa;
	--boxShadow: rgba(0, 0, 0, 0.25);

	--Inter: "Inter", Arial, Helvetica, sans-serif;
}

.dark {
	--primary: #00f5d4;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	display: flex;
	justify-content: center;
	font-size: 16px;
	scroll-behavior: smooth;

	background-image: linear-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px),
		linear-gradient(90deg, rgba(0, 0, 0, 0.03) 1px, transparent 1px);

	background-size: 80px 80px;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	width: 100%;
	max-width: 1200px;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-family: var(--Inter);
	position: relative;

	& > * {
		width: 100%;
	}

	& > header {
		padding-top: 10px;
		background-color: var(--white);
		width: 100%;
		max-width: 1200px;
		position: fixed;
		z-index: 999;
		border-radius: 0px 0px 50px 50px;

		.wrapper {
			box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
			background-color: var(--primary);
			color: var(--white);
			display: flex;
			justify-content: space-between;
			border: 2px solid var(--white);
			padding: 18px 32px;
			border-radius: 50px;
			align-items: center;

			#logo {
				font-size: 1.5rem;
			}

			nav {
				display: flex;
				align-items: center;
				gap: 32px;
				font-size: 1.2rem;

				ul {
					list-style: none;
					display: flex;
					gap: 24px;

					li {
						cursor: pointer;
						transition: all 0.2s ease;
						position: relative;

						&::before,
						&::after {
							content: "";
							position: absolute;

							bottom: 0;
							background-color: var(--white);
							transition: all 0.2s ease;
							height: 2px;
							width: 0;
						}

						&::before {
							left: 50%;
						}
						&::after {
							right: 50%;
						}

						&:hover::before,
						&:hover::after {
							width: 50%;
						}
					}
				}

				i {
					cursor: pointer;
					font-size: 1.6rem;
					text-shadow: 0px 3px 3px var(--boxShadow);
					transition: all 0.15s ease;

					&:hover {
						transform: scale(1.15);
					}

					&:active {
						text-shadow: none;
						transform: scale(1);
					}
				}
			}
		}
	}

	.home-section {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 90vh;

		.home-container {
			display: flex;
			align-items: center;

			.home-description {
				display: flex;
				flex-direction: column;
				gap: 8px;
				width: 50%;
				color: var(--secondary);

				h1 {
					font-size: 3.5rem;
					line-height: 48px;
				}

				h2 {
					line-height: 48px;
					font-size: 2.5rem;
					span {
						color: var(--primary);
						font-family: "Arial Black", sans-serif;
						-webkit-text-stroke: 1px rgb(255, 255, 255);
						text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
					}
				}

				p {
					font-size: 1.1rem;
					margin-bottom: 20px;
					line-height: 24px;
				}
			}

			.home-image {
				border: 6px solid var(--primary);
				border-radius: 50%;
				width: 380px;
				animation: move 2.5s linear infinite;
				box-shadow: 0px 3px 3px var(--boxShadow);
				margin-left: auto;
			}
		}

		.container-social-icons {
			margin-top: 100px;
			width: 100%;
			display: flex;
			justify-content: flex-end;

			align-items: center;
			gap: 16px;
			font-size: 1.35rem;

			i {
				transition: all 0.15s ease;
				padding: 4px;
				border-radius: 4px;
				cursor: pointer;
				color: var(--secondary);
			}

			i:hover {
				box-shadow: 1px 1px 2px 1px var(--boxShadow);
				transform: translate(-2px, -2px);
			}
		}
	}
}

main {
	padding: 0px 6px;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	gap: 100px;

	section:not(.home-section) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
		scroll-margin-top: 80px;
	}
}

@keyframes move {
	0% {
		transform: translateY(20px);
	}

	50% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(20px);
	}
}

.container-link-button {
	display: flex;
	gap: 8px;
}

.link-button {
	font-size: 1.1rem;
	padding: 12px 26px;
	border-radius: 10px;
	border: 1px solid var(--primary);
	box-shadow: 0px 3px 1px var(--boxShadow);
	transition: all 0.15s ease;

	&:hover {
		transform: translateY(-2px);
	}
}

.link-button.primary {
	background-color: var(--primary);
	color: var(--white);
	position: relative;

	&:hover {
		transform: scale(1.05);
	}
}

.link-button.secondary {
	background-color: var(--white);
	color: var(--primary);
	position: relative;
	overflow: hidden;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 100%;
		background-color: var(--primary);
		z-index: -1;
		transition: all 0.5s ease;
	}

	&:hover {
		color: var(--white);
	}

	&:hover::before {
		width: 100%;
	}
}

.section-title {
	color: var(--white);
	text-shadow: -3px 3px 0px black;
	position: relative;
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: 900;
	width: max-content;
	-webkit-text-stroke: 1px black;

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		left: -6px;
		bottom: 0px;

		width: calc(100% + 8px);
		height: 13px;
		background-color: var(--primary);
	}
}

.technologies-section {
	margin-top: -100px;

	.technologies-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		color: var(--secondary);

		.technologies-description {
			max-width: 550px;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 12px;

			h3 {
				font-size: 3rem;
				span {
					color: var(--primary);
				}
			}

			p {
				font-size: 1.2rem;
				text-indent: 50px;
				text-align: justify;
				line-height: 26px;
			}
		}

		.technologies-languages {
			margin-left: auto;
			display: grid;
			grid-template-columns: repeat(3, max-content);
			grid-template-columns: repeat(4, max-content);
			align-content: center;
			gap: 20px;

			.box-icon {
				border: 1px solid var(--secondary);
				padding: 12px 16px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				border-radius: 5px;
				gap: 4px;
				transition: all 0.15s ease;
				position: relative;

				&:hover {
					transform: translateY(-10px);
				}

				span {
					font-size: 1.2rem;
				}

				i {
					font-size: 90px;
				}

				.star {
					position: absolute;
					top: 4px;
					right: 4px;
					color: var(--yellow);
					font-size: 12px;
					text-shadow: 1px 1px 0px black;
					-webkit-text-stroke: 1px var(--secondary);
				}
			}

			#react:hover {
				color: rgb(0, 245, 212);
				border-color: rgb(0, 245, 212);
				box-shadow: 0px 3px 0px rgb(0, 245, 212, 0.2);
			}
			#sass:hover {
				color: rgb(204, 102, 153);
				border-color: rgb(204, 102, 153);
				box-shadow: 0px 3px 0px rgb(204, 102, 153, 0.2);
			}
			#angular:hover {
				color: #dd0031;
				border-color: rgb(221, 0, 49);
				box-shadow: 0px 3px 0px rgba(219, 0, 49, 0.2);
			}
			#typescript:hover {
				color: #3178c6;
				border-color: rgb(49, 120, 198);
				box-shadow: 0px 3px 0px rgba(49, 121, 198, 0.2);
			}

			#html:hover {
				color: #e34f26;
				border-color: rgb(227, 79, 38);
				box-shadow: 0px 3px 0px rgba(227, 79, 38, 0.2);
			}

			#css:hover {
				color: #1572b6;
				border-color: rgb(21, 114, 182);
				box-shadow: 0px 3px 0px rgba(21, 114, 182, 0.2);
			}

			#javascript:hover {
				color: #f7df1e;
				border-color: rgb(247, 223, 30);
				box-shadow: 0px 3px 0px rgba(247, 223, 30, 0.2);
			}

			#java:hover {
				color: #ff004c;
				border-color: rgb(255, 0, 76);
				box-shadow: 0px 3px 0px rgba(255, 0, 76, 0.2);
			}

			#php:hover {
				color: #4f5d95;
				border-color: rgb(79, 93, 149);
				box-shadow: 0px 3px 0px rgba(79, 93, 149, 0.2);
			}

			#cplus:hover {
				color: #5d00ff;
				border-color: rgb(93, 0, 255);
				box-shadow: 0px 3px 0px rgba(93, 0, 255, 0.2);
			}

			#c:hover {
				color: blue;
				border-color: rgb(0, 0, 255);
				box-shadow: 0px 3px 0px rgba(0, 0, 255, 0.2);
			}

			#python:hover {
				color: #f7df1e;
				border-color: rgb(247, 223, 30);
				box-shadow: 0px 3px 0px rgba(247, 223, 30, 0.2);
			}
		}
	}
}

.project-section {
}
