.group {
	position: relative;
	display: flex;
	gap: 50px;
	height: inherit;
}

.logo {
	border: 2px solid var(--secondary);
	border-radius: 10px;
	height: 100px;
	position: absolute;
}

.card {
	position: absolute;
	width: 100%;
	max-width: 480px;
	padding: 16px 24px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	border: 2px solid var(--primary);
	box-shadow: -8px 8px 0px var(--boxShadow-highlight);
	border-radius: 10px;
	background-color: var(--whitesmoke);
	font-size: 1.05rem;

	&::before {
		content: "";
		position: absolute;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: var(--white);
		border: 6px solid var(--primary);
	}
}

.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.period {
	font-style: italic;
	font-weight: 400;
}

.status {
	background-color: var(--primary);
	color: var(--white);
	padding: 4px 8px;
	position: absolute;
	font-size: 1rem;
	bottom: -16px;
	right: 4px;
	border-radius: 4px 0px 4px 0px;
	box-shadow: 3px 3px 0px black;
}

/* ######## LEFT ######## */

.left .card {
	text-align: right;
	right: calc(50% + 30px);
	box-shadow: 8px 8px 0px var(--boxShadow-highlight);

	&::before {
		right: -45px;
	}
}

.left .logo {
	left: calc(50% + 30px);
	box-shadow: -4px 4px 0px var(--boxShadow-highlight);
}

.left .header {
	.instution {
		order: 2;
	}
}

.left .period {
	order: 1;
}

/* ######## RIGHT ######## */

.right .card {
	text-align: left;
	left: calc(50% + 30px);

	&::before {
		left: -45px;
	}
}

.right .logo {
	right: calc(50% + 30px);
	box-shadow: 4px 4px 0px var(--boxShadow-highlight);
}

.right .header {
	.instution {
		order: 1;
	}
}

.right .period {
	order: 2;
}

@media screen and (max-width: 600px) {
	.group {
		flex-direction: column-reverse;

		gap: 20px;
		align-items: center;
	}

	.right .logo,
	.left .logo {
		position: static;
		top: -130px;
		left: 50%;
		/* transform: translateX(-50%); */
		/* order: -1; */
		box-shadow: 0px 4px 0px black;
	}

	.right .card,
	.left .card {
		position: static;
		box-shadow: 0px 8px 0px var(--boxShadow-highlight);
		&::before {
			top: -30px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.status {
		left: 50%;
		transform: translateX(-50%);
		width: max-content;

		bottom: -16px;
	}
}
